.footer {
    margin-top: calc-percent(70,$innerwidth);
    background: #a31118 url("../images/bg_footer.png") no-repeat left top;
    background-size: 100% auto;
    @include respond-to($vertabwidth) {
        padding-top: calc-percent(60,$vertabwidth);
        margin-top: calc-percent(40,$vertabwidth);
    }
    .inner {
        height: 100%;
    }
    &-list {
        background: rgba(32,32,32,0.2);
        height: 50px;
        &-inner {
            height: 100%;
            align-items: center;
            @extend %tb-flex;
        }
    }
    &-menu,
    &-sns {
        align-items: center;
        @extend %tb-flex;
    }
    &-menu {
        height: 100%;
        width: calc-percent(860,$innerwidth);
        @include respond-to($vertabwidth) {
            width: auto;
            margin-left: 0;
        }
        li {
            padding: 0 38px;
            height: 100%;
            align-items: center;
            flex:2;
            justify-content: center;
            @extend %tb-flex;
            @extend %rb-consender;
            &:first-child,
            &:last-child {
                flex:1;
            }
            &:hover,
            &.active {
                background: rgba(78,78,78,0.2);
                a {
                    color: $colorWhite;
                }
            }
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                @include respond-to($vertabwidth) {
                    display: none;
                }
            }
        }
        a {
            display: block;
            text-transform: uppercase;
            color: $colorBlack;
            @extend %bold;
        }
    }
    &-sns {
        width: calc-percent($innerwidth - 1010,$innerwidth);
        @include respond-to($vertabwidth) {
            width: auto;
            margin-right: 0;
        }
        li {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            background-color: $colorGrey;
            border-radius: 50%;
            @extend %tb-flex-center;
            @extend %tb-flex;
            &:last-child {
                margin-right: 0;
            }
            &:hover,
            &.active {
                background-color: #da251c;
            }
            a {
                display: block;
            }
        }
    }
    &-logo-info {
        margin-top: 19px;
        align-items: flex-end;
        @extend %tb-flex;
        .logo {
            width: calc-percent(260,$innerwidth);
            margin-right: calc-percent(50,$innerwidth);
        }
    }
    &-copy-right {
        padding: 10px 0;
        border-top: 1px solid #e5e5e5;
        color: $colorWhite;
        align-items: center;
        justify-content: space-between;
        @extend %tb-flex;
        p {
            margin: 0;
            @include respond-to($vertabwidth) {
                margin: 0 auto;
            }
        }
    }
}
.contact {
    margin: 0 0 15px 0;
    width: calc-percent($innerwidth - 260 - 50,$innerwidth);
    li {
        line-height: (30/14);
        color: $colorWhite;
        &:first-child {
            line-height: (30/16);
            font-weight: 700;
            @include responsive-font(get-vw-pc(16px), $min-font-pc, 16px);
            @include respond-to($vertabwidth) {
                @include responsive-font(get-vw-sp(16px), $min-font-sp,16px);
            }
        }
        &:last-child {
            align-items: center;
            @extend %tb-flex;
        }
        p {
          align-items: center;
          @extend %tb-flex;
        }
        span {
            color: $colorWhite;
            @include responsive-font(get-vw-pc(14px), $min-font-pc, 14px);
            @include respond-to($vertabwidth) {
                @include responsive-font(get-vw-sp(14px), $min-font-sp,14px);
            }
        }
        img {
            margin: 0;
        }
    }
}
.page-top {
    display: none;
    top:226px;
    right: 25px;
    cursor: pointer;
    position: fixed;
    img {
        z-index: 9999;
    }
}
