body {
    color: $colorMainTxt;
    background: $colorWhite;
    font-size: 15px;
    line-height: (25/15);
    @extend %rb-regular;
    @include responsive-font(get-vw-pc(15px), 13px, 15px);
    @include respond-to($vertabwidth) {
        @include responsive-font(get-vw-sp(15px), 13px, 15px);
    }
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
p,
table {
    th,td {
        word-wrap: break-word;
        word-break: break-all;
    }
}
a { text-decoration: none}
ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
p {
    margin: 0;
}
select::-ms-expand {
    display: none;
}
.bolder {
    font-weight: bolder;
    option {
        font-weight: bolder;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.inner {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: $innerwidth*1px;
    width: 95%;
    @include respond-to($vertabwidth) {
        width: calc-percent(736,768);
    }
    //border: 1px solid green;
}
//.inner,
//.haeder,
//.banner,
//.main,
//.footer {
//    min-width: $innerwidth*1px;
//}
.main-select {
    font-weight: bolder;
    option {
        font-weight: bolder;
    }
}
.border-top {
    border-top: 1px solid #ccc;
}
.ui-widget-content {
    span {
        font-weight: bolder;
    }
}
