.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    @include respond-to($vertabwidth) {
        position: relative;
        border-bottom: 2px solid #ed1c24;
        background:$colorWhite;
    }
    &-language {
        border-bottom: 1px solid #895c09;
        padding: 5px 0;
        @include respond-to($vertabwidth) {
            display: none !important;
        }
    }
    .inner {
        max-width: 1170px;
    }
    &-fix {
        border-bottom: 5px solid #ed1c24;
        background: #fff;
    }
    &-inner {
        align-items: center;
        justify-content: space-between;
        @extend %pos-relative;
        @extend %tb-flex;
    }
    .logo {
        margin-top: -50px;
        width: calc-percent(120,$innerwidth);
        margin-right: calc-percent(20,$innerwidth);
        z-index: 999 ;
        a{
            display: block;
        }
        @include respond-to($vertabwidth) {
            margin-top: 0;
            margin-right: 0;
            //margin-left: 43% ;
            width: calc-percent(114,$vertabwidth);
        }
    }

    &-menu {
        margin: 18px auto;
        width: calc-percent($innerwidth - 120 -20,$innerwidth);
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        @extend %tb-flex;
        @include respond-to($vertabwidth) {
            width: calc-percent(90,$vertabwidth);
        }
        &-content {
          width: 100%;
        }
        .language {
            display: none;
            @include respond-to($vertabwidth) {
                display: flex;
            }
        }
    }
    .language {
        margin-right: 15px;
        align-items: center;
        @extend %tb-flex;
        justify-content: flex-end;
        @include respond-to($vertabwidth) {
            margin-right: 0;
            justify-content: space-between;
        }
        li {
            display: block;
            width: 40px;
            margin-right: 6px;
            border: 1px solid #cbcbcb;
            @extend %br8;
            @include respond-to($vertabwidth) {
                width: 48%;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover,
            &.active {
                border: 1px solid $colorRed;
                background-color:#ffff00 ;
                a {
                    color: $colorRed;
                }
            }
        }
        a {
            color: #858585;
            font-size: 12px;
            display: block;
            @extend %txt-center
        }
        img {
            margin: 0;
        }
        &-btn {
            border: 0;
            background: transparent;
        }
    }

}
.product {
    &1,
    &2,
    &3,
    &4 {
        display: block;
        width: calc-percent(267,$innerwidth);
        @extend %pos-absolute;
        img {
            max-width: 60%;
        }
    }
    &1 {
        left:0;
        top: 20px;
    }
    &2 {
        left: 0;
        top:150px;
        animation-delay: 1s;
    }
    &3 {
        right: 0;
        top: 20px;
    }
    &4 {
        right: 0;
        top:150px;
        animation-delay: 1s;
    }
}
.menu{
    margin-right: 0;
    @extend %tb-flex;
    li {
        margin: 0 calc-percent(15,$innerwidth - 80 -20);
        @extend %tb-flex-center;
        @extend %tb-flex;
        @extend %br20;
        @include respond-to($vertabwidth) {
            margin: 0 auto;
            border-radius: 0;
        }
        &:hover,
        &.active {
            background-color: $colorRed;
            &.item-menu {
                color: $colorWhite !important;
            }
        }
        &:last-child {
            flex: 1;
            button {
                background: 0;
                border: 0;
            }
        }
        &:hover {
            div {
                display: block;
            }
        }
    }
    > li {
        flex: 2;
        &:last-child {
            &:hover {
                background-color: transparent;
            }
        }
    }
    a {
        display: block;
        padding: 3px 0;
        width: 100%;
        color: $colorWhite;
        text-align: center;
        font-weight: bold;
        @include responsive-font(get-vw-pc(16px), 11px, 16px);
        @include respond-to($vertabwidth) {
            @include responsive-font(get-vw-sp(16px),$min-font-sp,16px);
        }
        span {
          display: block;
        }
    }
}
.menu {
    &-item {
        padding-top: 82.5vh;
        @extend %tb-flex;
        a {
            display: block;
            height: 100%;
            color: red;
            text-align: center;
            line-height: 1;
        }
        img {
            max-width: 60%;
            width: 100%;
        }
    }
}
.header-fix .menu {
    .item-menu {
        color: $colorRed;
    }
    li {
        &:hover, &.active {
            .item-menu {
                color: #fff;
            }
        }
    }
}
.top {
    &-logo {
        display: block;
        position: absolute;
        width: 20%;
        max-width: 240px;
        left: 10%;
        img {
            width: 100%;
        }
    }
 }
.fa-search:before {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.fa-search {
    padding: 0 15px;
}
.header-fix .fa-search:before {
    color: $colorRed;
}

.search {
    &-active {
        .fa-search:before {
            color: #ffff00;
        }
    }
    &-form {
        position: absolute;
        display: none;
        right: 0;
        top: 60px;
        input {
            height: 40px;
        }
    }
    &-btn {
        margin: auto -1px auto -10px;
        background: $colorRed;
        border: 0;
        color: $colorWhite;
        font-weight: bold;
    }
    &-field {
        border: 0;
    }
    &-border {
        border: 2px solid #999;
        &:before {
            right: 5%;
            border-color: rgba(153, 153, 153, 0);
            border-bottom-color: #999;
            border-width: 10px;
            margin-left: -36px;
            @extend %arrow-top;
        }
    }
}
.header-fix .search-form {
    top: 75px;
}
.sub-menu {
    @extend %pos-relative;
    &-small {
        position: relative;
        margin-top: 20px;
        width: 100%;
        background: $colorWhite;
        border: 1px solid #da251c;
        @include respond-to($vertabwidth) {
            border: 0;
        }
        &:before {
            right: 72%;
            border-bottom-color: $colorRed;
            border-width: 10px;
            @extend %arrow-top;
            @include respond-to($vertabwidth) {
                display: none;
            }
        }
         li {
            border-radius: 0;
            margin: 0;
            &.active,
            &:hover {
                a {
                    color: $colorWhite;
                }
            }
            a {
                padding: 7px 20px;
                color: $colorMainTxt ;
                text-align: left;
                font-weight: normal;
            }
        }
    }
    &-layout {
        display: none;
        position: absolute;
        top: 32px;
        left: 0;
        width: 245px;
        @include respond-to($vertabwidth) {
            display: block;
            position: inherit;
            top:0;
            width: 100%;
        }
    }
    &-product {
        width: 100% !important;
        top: 52px !important;
        @include respond-to($vertabwidth) {
            position: inherit !important;
            top:0 !important;
        }
        .product-list {
            margin-top: 19px;
            background: $colorWhite;
            &:before {
                right: 59% !important;
            }
            li {
                width: calc-percent(210,$innerwidth);
                margin-right: calc-percent(30,$innerwidth) ;
                border: 0;
                &:nth-of-type(5n+5) {
                    margin-right: 0 ;
                }
                &:nth-of-type(4n+4) {
                    margin-right: calc-percent(30,$innerwidth) ;
                }
                &:hover,
                &.active {
                    background-color: inherit !important;
                    border: 0;
                }
                a {
                    padding: 0;
                }
                span {
                    @include responsive-font(get-vw-pc(16px),$min-font-pc, 16px);
                    @include respond-to($vertabwidth) {
                        @include responsive-font(get-vw-sp(16px),$min-font-sp,16px);
                    }
                }
                img {
                    border-radius: 0;
                }
            }
        }
    }
}
.header-fix {
    .header-menu .language {
        @extend %tb-flex;
    }
    .logo {
        margin-top: 0;
    }
    .header-menu {
        margin: 0;
    }
    .sub-menu-product {
        top: 84px !important;
    }
    .product-list {
        margin-top: 20px;
    }
    .language {
        margin-bottom: 10px;
    }
}
//menusp
.mean-container {
    display: block;
    .mean-nav {
        margin-top: 68px;
        background: $colorWhite;
        ul {
            display: block;
            li {
                display: block;
                a {
                    color: #333232;
                    border-top: 0;
                    border-bottom: 1px solid #d9d9d9;
                    text-transform: none !important;
                    &.mean-expand{
                        height: 48px;
                        margin-top: 1px;
                        padding: 0 12px !important;
                        background: transparent;
                        border-left: 0 !important;
                        border-bottom: 0 !important;
                        line-height: 48px;
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
    .mean-bar {
        position: absolute;
        width: 50%;
        background: transparent;
    }
    a.meanmenu-reveal {
        font-family: FontAwesome;
        left: 0 !important;
        top:12px !important;
        right: auto !important;
        font-size: 30px !important;
        color: #da251c !important;
        span {
            background: #da251c;
        }
    }
}
