.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    &-language {
        border-bottom: 1px solid #895c09;
        padding: 5px 0;
    }
    .inner {
        max-width: 1170px;
    }
    &-fix {
        border-bottom: 5px solid #ed1c24;
        background: #fff;
    }
    &-top {
        background: url(../images/bg_main.png) no-repeat top center;
        background-size: auto 80%;
        background-attachment: fixed;
        height: 100%;
        &-color {
            background: url("../images/bg_color_main.jpg") repeat center center;
            background-size: 100% 100%;
            height:100vh;
            .inner {
                @extend %pos-relative;
            }
        }
        &-menu {
            height:20vh;
            margin-top: 10px;
            .inner,
            .menu {
                height: 100%;
            }
            .menu {
                margin-right: auto;
                @extend %tb-flex-center;
                a {
                    color: $colorWhite;
                }
            }
        }
    }
    &-inner {
        align-items: center;
        justify-content: space-between;
        @extend %tb-flex;
    }
    .logo {
        margin-top: -55px;
        width: calc-percent(80,$innerwidth);
        margin-right: calc-percent(20,$innerwidth);
        z-index: 999;
    }

    &-menu {
        margin: 18px auto;
        width: calc-percent($innerwidth - 80 -20,$innerwidth);
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        @extend %tb-flex;
        &-content {
          width: 100%;
        }
    }
    .language {
        margin-right: 15px;
        align-items: center;
        @extend %tb-flex;
        justify-content: flex-end;
        @include respond-to($vertabwidth) {
            display: none;
        }
        li {
            display: block;
            width: 40px;
            margin-right: 6px;
            border: 1px solid #cbcbcb;
            @extend %br8;
            &:last-child {
                margin-right: 0;
            }
            &:hover,
            &.active {
                border: 1px solid $colorRed;
                background-color:#ffff00 ;
                a {
                    color: $colorRed;
                }
            }
        }
        a {
            color: #858585;
            font-size: 12px;
            display: block;
            @extend %txt-center
        }
        img {
            margin: 0;
        }
        &-btn {
            border: 0;
            background: transparent;
        }
    }

}
.product {
    &1,
    &2,
    &3,
    &4 {
        display: block;
        width: calc-percent(267,$innerwidth);
        @extend %pos-absolute;
        img {
            max-width: 60%;
        }
    }
    &1 {
        left:0;
        top: 20px;
    }
    &2 {
        left: 0;
        top:150px;
        animation-delay: 1s;
    }
    &3 {
        right: 0;
        top: 20px;
    }
    &4 {
        right: 0;
        top:150px;
        animation-delay: 1s;
    }
}
.menu{
    margin-right: 0;
    position: relative;
    @extend %tb-flex;
    li {
      border: 1px solid red;
        margin: 0 calc-percent(15,$innerwidth - 80 -20);
        @extend %br20;
        line-height: 2;
        position: relative;
        div {
            display: none;
            position: absolute;
            top: 0;
            width: 245px;
        }
        &:hover,
        &.active {
            background-color: $colorRed;
            &.item-menu {
                color: $colorWhite;
            }
        }
        &:last-child {
            &:hover {
                background-color: transparent;
            }
            button {
                background: 0;
                border: 0;
            }
        }
        &:hover {
            div {
                display: block;
            }
        }
    }
    a {
        display: block;
        color: $colorWhite;
        text-align: center;
        font-weight: bold;
        @include responsive-font(get-vw-pc(16px), 13px, 16px);
        @include respond-to($vertabwidth) {
            @include responsive-font(get-vw-sp(16px), 12px,16px);
        }
        span {
          display: block;
          padding: 5px calc-percent(20,$innerwidth - 80 -20) ;
        }
    }
}
.menu {
    &-item {
        padding-top: 82.5vh;
        @extend %tb-flex;
        a {
            display: block;
            height: 100%;
            color: red;
            text-align: center;
            line-height: 1;
        }
        img {
            max-width: 60%;
            width: 100%;
        }
    }
}
.header-fix .menu {
    .item-menu {
        color: $colorRed;
    }
    li {
        &:hover, &.active {
            .item-menu {
                color: #fff;
            }
        }
    }
}
.top {
    &-logo {
        display: block;
        position: absolute;
        width: 20%;
        max-width: 240px;
        left: 10%;
        img {
            width: 100%;
        }
    }
 }
.fa-search:before {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.fa-search {
    padding: 0 15px;
}
.header-fix .fa-search:before {
    color: $colorRed;
}

.search {
    &-active {
        .fa-search:before {
            color: #ffff00;
        }
    }
    &-form {
        position: absolute;
        display: none;
        right: 0;
        top: 60px;
        input {
            height: 40px;
        }
    }
    &-btn {
        margin: auto -1px auto -10px;
        background: $colorRed;
        border: 0;
        color: $colorWhite;
        font-weight: bold;
    }
    &-field {
        border: 0;
    }
    &-border {
        border: 2px solid #999;
        &:before {
            right: 5%;
            border-color: rgba(153, 153, 153, 0);
            border-bottom-color: #999;
            border-width: 10px;
            margin-left: -36px;
            @extend %arrow-top;
        }
    }
}
.header-fix .search-form {
    top: 75px;
}
.sub-menu {
    &-small {
        position: relative;
        width: 100%;
        background: $colorWhite;
        border: 1px solid #da251c;
        margin-top: 45px;
        &:before {
            right: 72%;
            border-bottom-color: $colorRed;
            border-width: 10px;
            @extend %arrow-top;
        }
        li {
            border-radius: 0;
            margin: 0;
            a {
                font-size: 16px;
                color: $colorMainTxt;
                font-weight: normal;
            }
        }
    }
}
.header-menu .language {
    display: none;
}

.header-fix {
    .header-menu .language {
        @extend %tb-flex;
    }
    .logo {
        margin-top: 0;
    }
    .header-menu {
        margin: 0;
    }
}
//menusp
.mean-container .mean-nav ul {
    display: block;
}
.mean-bar {
    position: absolute;
}
