.main {
    padding-top: 40px;
    &-ttl {
        padding-bottom: 3px;
        border-bottom: 1px solid #e5e5e5;
        font-weight:400;
        @extend %rb-consender;
        @extend %ttl;
        span {
            margin: 0 auto -4px;
            display: block;
            width: calc-percent(157,$innerwidth);
            background-color: $colorRed;
            height: 2px;
            @extend %txt-center;
        }
    }
}
.mission-vision {
    flex-wrap: wrap;
    @extend %tb-flex;
    li {
        width: 50%;
        box-sizing: border-box;
        @extend %tb-flex;
        > div {
            align-items: center;
            flex-wrap: wrap ;
            @extend %tb-flex;
        }
        &.img {
            &-mission {
                @extend %br-30-top;
                @extend %br-10-right;
                img {
                    margin-left: 0;
                }
            }
            &-vision {
                @extend %br-30-bottom;
                @extend %br-10-left;
                img {
                    margin-right: 0;
                }
            }
        }
        &.info {
            &-mission,
            &-vision {
                > div {
                    padding: 0 25px;
                    background-color: rgba(255, 255, 255, 0.6);
                }
                .ttl {
                    @extend %ttl;
                    img {
                        margin-top: 7px;
                    }
                }
            }
            &-mission {
                > div {
                    @extend %br-10-top;
                    @extend %br-10-left;
                }
            }
            &-vision {
                > div {
                    @extend %br-10-bottom;
                    @extend %br-10-right;
                }
            }
        }
    }
}
.info {
    &-mission,
    &-vision {
        @extend %pos-relative;
        &:after {
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-width: 15px;
            margin-top: -15px;
            @extend %pos-absolute;
        }
    }
    &-mission {
        padding-top: 20px;
        &:after {
            left: 100%;
            border-left-color: rgba(255, 255, 255, 0.9);
        }
    }
    &-vision {
        padding-bottom: 20px;
        &:after {
            right: 100%;
            border-right-color: rgba(255, 255, 255, 0.9);
        }
    }
}
//link
.link {
    width: 100%;
    justify-content: flex-end;
    @extend %tb-flex;
    a {
        color: $colorRed;
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
//product
.product {
    padding-top: calc-percent(40,$innerwidth);
    background-color: $colorWhite;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    @include respond-to($vertabwidth) {
        padding-top: calc-percent(40,$vertabwidth);
    }
    &-list {
        margin-top: calc-percent(38,$innerwidth);
        flex-wrap: wrap;
        @extend %tb-flex;
        @include respond-to($vertabwidth) {
            margin-top: calc-percent(38,$vertabwidth);
        }
        li {
            width: calc-percent(270,$innerwidth);
            align-items: center;
            margin-right: calc-percent(30,$innerwidth);
            box-sizing: border-box;
            margin-bottom: get-vw($innerwidth,28);
            border: 1px solid #fff;
            @extend %tb-flex;
            @extend %br8;
            @include respond-to($vertabwidth) {
              margin: 0 8px;
            }
            &:nth-of-type(4n+4) {
                margin-right: 0;
                @include respond-to($vertabwidth) {
                  margin: 0 8px;
                }
            }
            &:hover,
            &.active {
                border: 1px solid $colorRed;
                @extend %br8;
            }
            a {
                display: block;
                @extend %br8;
            }
            span {
                display: inline-block;
                margin: 0 auto;
                padding: 0 9px;
                line-height: (40/20);
                color: $colorWhite;
                background-color: $colorRed;
                @extend %br5;
                @extend %txt-center;
                @extend %pos-relative;
                @include responsive-font(get-vw-pc(20px),$min-font-pc, 20px);
                @include respond-to($vertabwidth) {
                    @include responsive-font(get-vw-sp(20px),$min-font-sp,20px);
                }
                &:after {
                    bottom: 99%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    pointer-events: none;
                    border-color: rgba(218, 37, 28, 0);
                    border-bottom-color:$colorRed;
                    border-width: 6px;
                    margin-left: -6px;
                    @extend %pos-absolute;
                }
                &.full {
                    width: auto;
                }
            }
            p {
                img {
                    width: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
            }
        }
        &-info {
            width: 100%;
            margin: 10px auto 15px;
            padding: 0 10px;
            @extend %txt-center;
        }
    }
    &-line {
        padding-bottom: calc-percent(56,$innerwidth);
        background: url("../images/index/brn2.jpg") no-repeat center center;
        background-size: cover;
        @include respond-to($vertabwidth) {
            padding-bottom: calc-percent(30,$vertabwidth);
        }
        &-ttl {
            padding: calc-percent(40,$innerwidth) 0 calc-percent(30,$innerwidth);
            color: $colorWhite;
            @extend %ttl;
            @extend %rb-consender;
            @include respond-to($vertabwidth) {
                padding: calc-percent(40,$vertabwidth) 0 calc-percent(30,$vertabwidth);
            }
            img {
                margin-top: calc-percent(15,$innerwidth);
                @include respond-to($vertabwidth) {
                    padding: calc-percent(15,$vertabwidth);
                }
            }
        }
        &-list {
            li {
                border:  15px solid rgba(255,255,255,0.2);
                box-sizing: border-box;
                @extend %pos-relative;
                @include respond-to($vertabwidth) {
                    border-width: 10px;
                }
            }
        }
        &-info {
            width: calc-percent(400,$innerwidth );
            padding: calc-percent(30,$innerwidth) calc-percent(25,$innerwidth);
            right: 15px;
            top: 15px ;
            height: 82%;
            background-color: $colorWhite;
            @extend %pos-absolute;
            @include respond-to($vertabwidth) {
              position: static;
              width: 100%;
              height: auto;
            }
            .ttl {
                color: $colorBlack;
                text-transform: inherit;
                line-height: 1.1 !important;
                @include responsive-font(get-vw-pc(25px),$min-font-sp,25px);
                @include respond-to($vertabwidth) {
                    @include responsive-font(get-vw-sp(25px),$min-font-sp,25px);
                }
                @extend %ttl;
                img {
                    margin: calc-percent(10,400) auto;
                }
            }
            .link {
                justify-content: flex-start;
            }
            p {
                color: $colorBlack;
                line-height: (25/15);
                &:nth-of-type(2) {
                    @extend %over6line;
                }
            }
        }
    }
}
//certification
.certification {
    padding: calc-percent(40,$innerwidth) 0 calc-percent(47,$innerwidth);
    background-color: #edebeb;
    .main-ttl {
        padding-top: 0;
        margin-bottom: calc-percent(45,$innerwidth);
    }
    &-list {
        @extend %tb-flex;
        li {
            padding: 12px 0;
            width: calc-percent(172,$innerwidth);
            border: 1px solid #cbcbcb;
            background-color: $colorWhite;
            box-sizing: border-box;
            margin-right: calc-percent(($innerwidth - 1032)/5 , $innerwidth);
            @include respond-to($vertabwidth) {
              margin: 0 15px;
            }
            &:last-child {
                margin-right: 0;
              @include respond-to($vertabwidth) {
                margin: 0 15px;
              }
            }
        }
        a {
            display: block;
        }
    }
}
// info-history
.info {
    &-history {
        padding: calc-percent(40,$innerwidth) 0 0;
        background-color: $colorWhite;
        &-list {
            @extend %tb-flex;
            @include respond-to($vertabwidth) {
              flex-wrap: wrap;
              flex-direction: column;
            }
            > li {
                width: calc-percent(570,$innerwidth);
                margin-right: calc-percent(30,$innerwidth);
                &:last-child {
                    margin-right: 0;
                }
                @include respond-to($vertabwidth) {
                  width: 100%;
                  margin: 0;
                }
            }
        }
        &-ttl,
        &-txt {
            color: $colorBlack;
        }
        &-ttl {
            @extend %bold;
        }
        &-date {
            color: #868686;
            @include responsive-font(get-vw-pc(13px),10px, 13px);
            @include respond-to($vertabwidth) {
                @include responsive-font(get-vw-sp(13px),10px, 13px);
            }
        }
        &-txt {
            @include responsive-font(get-vw-pc(14px),12px, 14px);
            @include respond-to($vertabwidth) {
                @include responsive-font(get-vw-sp(14px),12px, 14px);
            }
        }
        &-txt {
            margin-top: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-height: 1.4em;
            max-height: 2.8em;
            min-height: 2.8em;
            -webkit-box-orient: vertical;
        }
        .main-ttl {
            text-align: left;
            margin-bottom: calc-percent(50,$innerwidth);
            @include responsive-font(get-vw-pc(25px),$min-font-sp, 25px);
            @include respond-to($vertabwidth) {
                @include responsive-font(get-vw-sp(33px),$min-font-sp, 33px);
            }
            @extend %bold;
            @include  respond-to($vertabwidth ){
             text-align: center;
                font-weight:400;
                margin-bottom: calc-percent(40,$vertabwidth);
            }
            span {
                margin-top: 8px;
                margin-left: 0;
                @include  respond-to($vertabwidth ){
                  margin: 0 auto -4px;
                }
            }
        }
    }
    &-company {
        &-list {
            a {
                align-items: center;
                @extend %tb-flex;
            }
            li {
                margin-bottom: 18px;
            }
        }
        &-img {
            padding: 5px;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            width: calc-percent(120,570);
            margin-right: calc-percent(15,570);
            align-items: center;
            @extend %tb-flex;
            img {
                width: 100%;
            }
        }
        &-content {
            width: calc-percent(570-120-15,570);
        }
    }
}
.history {
    &-info {
        padding: 18px;
        color: $colorBlack;
    }
}
.video {
    width: 100%;
    padding-top: calc-percent(355,570);
    max-width: 570px;
    margin: 0 auto;
    @extend %pos-relative;
    @include respond-to($vertabwidth) {
        max-width: 100%;
        padding-top: calc-percent(454,736);
    }
    p {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @extend %pos-absolute;
    }
}
#index {
    .animated {
        animation-duration: 2s;
    }
    .main {
        padding-top: 0;
    }
}
