.timeline {
    background: url("../images/bg_timeline.jpg") repeat-y center top;
    width: 100%;
    padding-top: get-vw(1170,54);
    @include respond-to(768) {
        background: url("../images/bg_timeline.jpg") repeat-y left top;;
    }
    &-wrap {
        width: 100%;
        display: flex;
        position: relative;
        margin-bottom: get-vw(1170,54);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-wrap1 {
        flex-direction: row-reverse;
        @include respond-to(768) {
            flex-direction: row;
        }
    }
    &-left {
        margin: 0;
        padding-right: calc-percent(40,585) ;
        @include respond-to(768) {
            padding-right: 0;
        }
        &-img {
            position: relative;
            margin-left: 0;
            width: 95%;
            margin-right: 0;
            @include respond-to(768) {
                margin-top: 12vw;
            }
            @include respond-to(640) {
                margin-top: 14vw;
            }
            img {
                margin-right: 0;
            }
            &:after {
                left: 100%;
                @extend %arrow;
                border-left: 18px solid $colorRed;
                @include respond-to(768) {
                    display: none;
                }
            }
        }
        .timeline-year {
            text-align: right;
            @include respond-to(768) {
                text-align: left;
            }
        }
    }
    &-right {
        padding-left: calc-percent(40,585) ;
        &-img {
            position: relative;
            margin-left: 0;
            width: 95%;
            @include respond-to(768) {
                margin-top: 12vw;
            }
            @include respond-to(640) {
                margin-top: 14vw;
            }
            img {
                margin-left: 0;
            }
            &:after {
                right: 100%;
                @extend %arrow;
                border-right: 18px solid $colorRed;
                @include respond-to(768) {
                    display: none;
                }
            }
        }
    }
    &-left, &-right {
        width: 50%;
        @include respond-to(768) {
            padding-left: calc-percent(35,730);
            width: auto;
            min-width: 40%;
        }
    }
    &-year {
        @include responsive-font(get-vw-pc(50px), 25px, 50px);
        font-weight: bold;
        color: $colorRed;
        @include respond-to($vertabwidth) {
            @include responsive-font(get-vw-sp(50px), 25px, 50px);
        }
    }
    &-point {
        left: 49.47%;
        font-size: 20px;
        color: $colorRed;
        position: absolute;
        top: 35px;
        @include respond-to(1100) {
            left: 49.3%;
        }
        @include respond-to(768) {
            left: -6px;
            width: 12px;
            top: 5vw;
        }
    }
    &-bottom {
        margin: 0 auto;
    }
}
