
$innerwidth: 1170;
$horitabwidth: 1024;
$vertabwidth: 768;
$spwidth: 480;

//color
$colorWhite : #ffffff;

$colorRed: #da251c;
$colorGrey: #7e7e7e;
$colorMainTxt: #4e4e4e;
$colorBlack: #000000;
$colorYellow: #fef626;
$colorLightGrey: #e5e5e5;
$colorDarkGrey: #949494;

$min-font-pc: 13px;
$min-font-sp : 12px;
$default-font:15px;
