.contact {
  &-map {
    width: 100%;
    margin: 20px auto;
    height: get-vw(1170,334);
  }
  &-address {
    position: relative;
    @extend %tb-flex;
    padding-bottom: 40px;
      flex-wrap: wrap;
      flex-direction: row;
      @include respond-to($vertabwidth){
          padding-bottom: 0;
      }
    &-left {
      background: url("../images/contact/bg_top_red.png") no-repeat top left;
      padding-top: 50px;
      span {
        display: inline-block;
        vertical-align: top;
      }
    }
    .contact-title {
      margin-bottom: 20px;
    }
      p:not(.contact-title) {
          margin-bottom: 15px;
      }
    .fa {
      margin-right: 15px;
      color: #9b9b9b;
      @include responsive-font(get-vw-pc(16px), 12px, 16px);
      @include respond-to($vertabwidth){
        @include responsive-font(get-vw-sp(16px), 12px, 16px);
          margin-right: 8px;
      }
    }
    &-right {
      background: url("../images/contact/bg_top_grey.png") no-repeat top left;
      padding-top: 50px;
      padding-left: 15px;
        @include respond-to($vertabwidth) {
            padding-left: 0;
            margin: calc-percent(40,736) auto;
        }
    }
      &-left, &-right {
          width: 50%;
          @include respond-to($vertabwidth) {
              width: 100%;
              background: none !important;
              padding-top: 0;
          }
      }
  }
  &-title {
    @include responsive-font(get-vw-pc(16px), 14px, 30px);
    color: $colorRed;
    font-weight: bold;
    @include respond-to($vertabwidth){
      @include responsive-font(get-vw-sp(16px), 14px, 16px);
    }
  }
  &-icn {
    position: absolute;
    top: 3px;
    left: 47%;
  }
    &-form {
        border-top: 1px dashed #b9b9b9;
        margin-top: 10px;
        width: 100%;
        padding-top: 20px;
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            li {
                width: calc-percent(530,1170);
                display: flex;
                margin-bottom: 20px;
                &:nth-of-type(2n) {
                    margin-left: calc-percent(1170-530-530,1170);
                    @include respond-to($vertabwidth){
                        margin-left: auto;
                    }
                }
                @include respond-to($vertabwidth){
                    width: 100%;
                }
                label {
                    flex: 1;
                    text-align: left;
                    @include respond-to($vertabwidth){
                        font-size: 13px;
                    }
                }
                input {
                    flex: 4;
                    border-radius: 5px;
                    height: 30px;
                    box-shadow: 0 0;
                    border: 1px solid #cccccc;
                    padding: 0 5px;
                    box-sizing: border-box;
                    @include respond-to($vertabwidth){
                        flex: 3;
                    }
                }
                .area-wrap {
                    flex: 4;
                    @include respond-to($vertabwidth){
                        flex: 3;
                    }
                }
                textarea {
                    border-radius: 5px;
                    height: 108px;
                    padding: 0 5px;
                    box-sizing: border-box;
                    border: 1px solid #cccccc;
                    width: 100%;
                    margin-bottom: 10px;

                }
                button {
                    background: $colorRed;
                    color: $colorWhite;
                    padding: 5px 15px;
                    border: 0;
                    border-radius: 5px;
                    font-weight: bold;
                    font-family: Roboto;
                }
                span {
                    color: $colorRed;
                    padding-left: 5px;
                }
            }
        }
    }
}
