.detail {
    &-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        &-title {
            font-family: 'Roboto Condensed', sans-serif;
            @include responsive-font(get-vw-pc(30px), 20px, 30px);
            @include respond-to($vertabwidth){
                @include responsive-font(get-vw-sp(30px), 20px, 30px);
            }
        }
    }
    &-left {
        width: calc-percent(870,1170);
        @include respond-to($vertabwidth) {
            width: 100%;
        }
        p {
            margin-bottom: 15px;
            flex: 1;
        }
    }
    &-right {
        width: calc-percent(270,1170);
        .ttl {
            display: inline-block;
            padding: 5px 25px;
            background-color: $colorRed;
            color: $colorWhite;
            @extend %pos-relative;
            &:after {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(218, 37, 28, 0);
                border-top-color: #da251c;
                border-width: 5px;
                margin-left: -5px;
                @extend %pos-absolute;
            }
        }
        ul {
            margin-top: 16px;
            li {
                border-bottom: 1px solid #e6e6e6 ;
                padding-bottom: 6px;
                margin-bottom: 6px;
                a {
                    color: #666666;
                }
            }
        }
    }
    &-date {
        color: #b4b4b4;
    }
    &-img {
        margin: 30px auto 15px;
    }
    &-social {
        margin-top: 40px;
        @extend %clear;
        &-left {
            float: left;
            li {
                border-radius: 3px;
                display: inline-block;
                vertical-align: middle;
                a {
                    padding: 0px 7px;
                    color: #fff;
                    display: block;
                    font-size: 12px;
                    i {
                        padding-right: 3px;
                    }

                }
                &:first-child {
                    background: #1b95e0;
                }
                &:nth-of-type(2),&:nth-of-type(3) {
                    background: #4267b2;
                }
                &:last-child {
                    position: relative;
                    border: 1px solid $colorLightGrey;
                    padding: 0 10px;
                    margin-left: 5px;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 33%;
                        right: 90%;
                        width: 7px;
                        height: 7px;
                        background: #FFFFFF;
                        border-right: 1px solid $colorLightGrey;
                        border-bottom:1px solid $colorLightGrey;
                        -moz-transform:rotate(135deg);
                        -webkit-transform:rotate(135deg);
                    }
                }
            }
        }
        &-right {
            float: right;
            li {
                margin-left: 10px;
                display: inline-block;
                a {
                    font-size: 11px;
                    color: $colorGrey;
                    i {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    &-comment {
        &-title {
            background: url("../../assets/images/news_detail/bg_comment.png") no-repeat left center;
            padding: 10px 0 10px 20px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 10px;
        }
        &-number {
            @extend %clear;
            border-bottom: 1px solid $colorLightGrey;
        }
        &-left {
            float: left;
            font-weight: bold;
        }
        &-right {
            float: right;
            select {
                font-family: 'Roboto Condensed', sans-serif;
                -webkit-appearance: menulist;
                appearance: menulist;
                -moz-appearance: menulist;
            }
        }
        &-more {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
            @extend %tb-flex;
            .img {
                width: calc-percent(48,870);
                margin-right: calc-percent(8,870);
            }
            .info {
                width: calc-percent(870- 48 -8 , 870);
                border: 1px solid #d3d6db;
                textarea {
                    height: 70px;
                    width: 100%;
                    padding: 15px;
                    vertical-align: top;
                    border: 0;
                    border-bottom: 1px solid #d3d6db;
                    resize: none;
                }
                &-facebook {
                    padding: 15px;
                    justify-content: space-between;
                    @extend %tb-flex;
                    input {
                        width: 15px;
                        height: 15px;
                    }
                    input,
                    label {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .btn {
                        width: 53px;
                        background-color: #9cb4d8;
                        text-align: center;
                        border-radius: 2px;
                        a {
                            color: $colorWhite;
                        }
                    }
                    ul {
                        align-items: center;
                        @extend %tb-flex;
                        &:first-child {
                            width: calc-percent(555, 870-30);
                            align-items: center;
                            @extend %tb-flex;
                        }
                    }
                    &-select {
                        li {
                            &:first-child {
                                display: flex;
                                align-items: center;
                                margin-right: 17px;
                            }
                            img {
                                &:first-child {
                                    width: 16px;
                                    margin-right: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-plugin {
            display: flex;
            margin-top: 5px;
            align-items: center;
            span {
                color: #3f5392;
                &:first-child {
                    margin-right: 6px;
                }
            }
        }
    }
}
